<div class="home__container">
  <app-card gameCover="assets/bt-1.jpg" gameLabel="Exclusivo" gameType="Digital | PS4" gamePrice="129,99"  ></app-card>
  <app-card gameCover="assets/ac-cover.jpg" gamePrice="200,00R$" gameLabel="GOTY" gameType="Digital | PS3 | PS4" ></app-card>
  <app-card gameCover="assets/bt-4.jpg" gamePrice="200,00R$" gameLabel="Exclusivo" gameType="Disk | PS4" ></app-card>
  <app-card gameCover="assets/bt-hardline.jpg" gamePrice="200,00R$" gameLabel="New" gameType="Disk | PS5 | PS4 | PS3" ></app-card>
</div>
